<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Transactions</title>
	</head>
	<body>
		<p>Выберите имя пользователя - отправителя:</p>
		
		<select id="sender" class="user" size="4">
			<option selected disabled>Выберите отправителя</option>
			{% for item in users %}
				<option>{{item.userName}}</option>
			{% endfor %}
		</select>
		
		<div class="balanceSender"></div>

		<p>Выберите имя пользователя - получателя:</p>
		
		<select id="recipient" class="user" size="4">
			<option selected disabled>Выберите получателя</option>
			{% for item in users %}
				<option>{{item.userName}}</option>
			{% endfor %}
		</select>

		<div class="balanceRecipient"></div>

		<p>Введите сумму перевода:</p>
		<input type="number" class="sum">

		<p><button class="start">Перевести</button></p>

		<div class="result"></div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script src="js/engine.js" type="text/javascript"></script>
	</body>
</html>